@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

//fonts
$font-family: "Poppins", sans-serif;

//primary
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

//seconadry
$red: hsl(0, 87%, 67%);

//Neutral colors
$gray: #bfbfbf;
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
